.product-card {
  display: flex;
  flex-direction: column;
}

.card-top {
  display: flex;
  flex-direction: row;
}

.card-image {
  width: 12rem;
  border-radius: 10px 0 0 0;
  flex-grow: 1;
}

.veg-image {
  position: absolute;
  z-index: 0;
  height: 25px;
  width: 25px;
  margin: 10px;
}

.card-info {
  color: #ffffff;
  padding: 10px 15px 0 15px;
  flex-grow: 1;
  height: 10rem;
  overflow-y: hidden;
}

.card-bottom {
  display: flex;
  color: #eeeeee;
  background-color: #061737;
  justify-content: space-around;
  border-radius: 0 0 10px 10px;
  align-items: center;
  height: 50px;
  line-height: 50px;
}

.card-popup-button {
  background-color: #4e60ff;
  border-radius: 50px;
  text-align: center;
  line-height: 30px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
